									<iframe id="rpi_frame" scrolling="yes" name="rpi_frame" frameBorder=0 scrolling=no src="<!--$rpi_monitor_url-->"></iframe>
									<script type="application/javascript">
            function resize_rpi_frame()
            {
             var content_div  = document.getElementsByClassName("ui-content");
             content_div.height  = $(window.top).height() - 290;
             content_div.width   = $(window.top).width() - 200;
             var iFrame = document.getElementById( 'rpi_frame' )
               iFrame.width  = content_div.width;
               iFrame.height = content_div.height;
               var iFrame = jQuery('#rpi_frame', parent.document.body);
               var height = jQuery('body').outerHeight(true) + 400;
               iFrame.height(height);
            }
            resize_rpi_frame();
									</script>
