<div id="notifblock">
<!-- NOTIFICATIONS //-->
<TMPL_VAR NOTIFICATIONS>
<!-- NOTIFICATIONS //-->
</div>
<iframe id="rpi_frame" scrolling="yes" name="rpi_frame" frameBorder=0 scrolling=no src="<TMPL_VAR  rpi_monitor_url>"></iframe>
<script type="application/javascript">
	function resize_rpi_frame()
	{
	 var content_div  = document.getElementsByClassName("ui-content");
	 content_div.height  = $(window.top).height() - 290;
	 content_div.width   = $(window.top).width() - 200;
	 var iFrame = document.getElementById( 'rpi_frame' )
	   iFrame.width  = content_div.width;
	   iFrame.height = content_div.height;
	   var iFrame = jQuery('#rpi_frame', parent.document.body);
	   var height = jQuery('body').outerHeight(true) + 400;
	   iFrame.height(height);
	}
resize_rpi_frame();
</script>
<div style="display:table; padding:10px; border: 1px solid black; border-radius: 5px; background-color: rgba(19,172,132,.2);">
	<TMPL_VAR LOG.LOG_AREA> (<TMPL_VAR LOG.LOGLEVEL><TMPL_VAR LOGLEVEL>)<br>
 		<div style="display:table-row;">
	 			<button onclick="window.open('/admin/system/tools/logfile.cgi?logfile=<TMPL_VAR LOGFILE>&amp;header=html&amp;format=template', 'log'); return false;" id="logview" data-role="button" data-inline="true" data-mini="true"><TMPL_VAR LOG.LOG_BUTTON_VIEW></button>
 		</div>
</div>
<small><small><TMPL_VAR VERSION></small></small>
	